.number-board {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: #34495e;
  }
}

.number-board__box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  background-color: #1abc9c;
  line-height: 40px;
  text-align: center;
  color: #ecf0f1;
  display: inline-block;
  font-weight: 500;

  &--picked {
    background-color: #e74c3c;
  }

  &--history {
    background-color: #f1c40f;
  }
}

.generated-text__value--prev {
  font-size: 18px;
  // background-color: #e67e22;
  background-color: #576574;
  color: #ecf0f1;
  font-weight: 500;
  padding: 5px;
  letter-spacing: 5px;
  width: 330px;
  text-align: center;
  margin: 10px auto;
}