@import "../../node_modules/normalize.css/normalize.css";

* {
  font-family: 'Montserrat', sans-serif; 
}

body {
  background-color:  rgb(242, 242, 242);
}

.text-center {
  text-align: center !important;
}

.font-normal {
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 30px;
  text-transform: uppercase;
  color: #404040;
  padding-top: 36px;
}

.pt-40 {
  padding-top: 40px;
}

//buttons theme

.button {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px 20px;
  border: 2px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;

  &:hover,
  &:focus {
    color: #ffffff !important;
    background: #2ecc71;
    border-color: #2ecc71 !important;
    transition: all 0.5s ease 0s;
  }
}

.hide {
  display: none;
}